*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* cursor: none; */
}
body{
    height: 200vh;
}
.circle{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid aqua;
    position: sticky;
}
.dot{
    height: 2px;
    width: 2px;
    border-radius: 50%;
    border: 2px solid aqua;
    margin-top: 25px;
    margin-left: 25px;
}